@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

:root[data-theme="light"],
:root.light {
  color-scheme: light;
  --background: #ffffff;
  --foreground: #171717;
}

:root[data-theme="dark"],
:root.dark {
  color-scheme: dark;
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.scrollbar-nice::-webkit-scrollbar { height: 10px; width: 10px; }
.scrollbar-nice::-webkit-scrollbar-track { background: rgba(255,255,255,.06); border-radius: 999px; }
.scrollbar-nice::-webkit-scrollbar-thumb { background: rgba(255,255,255,.18); border-radius: 999px; }
.scrollbar-nice::-webkit-scrollbar-thumb:hover { background: rgba(255,255,255,.28); }
.scrollbar-nice { scrollbar-color: rgba(255,255,255,.22) rgba(255,255,255,.06); scrollbar-width: thin; }
